<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Help</title>
        <link rel="stylesheet" href="/static/styles.css">
        <!-- API for font -->
        <link href='https://fonts.googleapis.com' rel='stylesheet'>
    </head>
    <body>
    
    <!-- Container to center contents -->
    <div class="center">

        <!-- Page heading -->
        <div class="rectangle-page-title">
            <h1>Help</h1>
        </div>

        <!-- Help instructions container -->
        <div class="rectangle-help-steps">
            <!-- List each step on new line -->
            <p>Step 1. Click on 'Add Book' on the home screen.</p>
            <p>Step 2. Input the book title and author along with the date you started and finished the book.</p>
            <p>Step 3. Click 'Save' to add your reading activity/progress to your calendar.</p>
        </div>
    </div>
        <!-- Nav back to home dashboard -->
        <button type="button" onclick="history.go(-1)" class="back-button">&#10550;</button>
    </body>
</html>