<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Reading Activity Tracker</title>
        <link rel="stylesheet" href="/static/styles.css">
        <!-- API for font -->
        <link href='https://fonts.googleapis.com' rel='stylesheet'>
    </head>
    <body>

    <!-- Container to center contents -->
    <div class="center">

    <!-- Page heading -->
    <div class="oval">
        <h1>Reading Activity Tracker</h1>
    </div>

    <!-- Add Book page -->
    <div class = "rectangle-home">
        <a href="/add/book">Add Book</a>
    </div>

    <!-- Calendar page -->
    <div class = "rectangle-home">
        <a href="/calendar">Calendar</a>
    </div>

    <!-- Help page -->
    <div class = "rectangle-home">
        <a href="/help">Help</a>
    </div>

    <!-- Tip message -->
    <footer class="rectangle-footer">
        <footer>
            <p>TIP: Tap 'Add Book' to quickly track your reading activity</p>
    </footer>

    </div>
    </body>
</html>